html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
}
body {
    font-size: 1em;
    text-align: center;
}

.main {
    width: 800px;
    padding: 15px;
}

.section {
    border: 1px;
}

#reverse, #palindrome, #tipcalc {
    font-weight: bold;
    margin-top: 16px;
}